# Ignore Github recommended files
*.rbc
*.sassc
.sass-cache
capybara-*.html
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb

# Ignore the default SQLite database
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore rspec specific config file
.rspec

# Ignore rbenv specific config file
.ruby-version

# Ignore environment variables
.env.local
.env.development
.env.test
.env.production

# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
log/*.log
tmp/

# Ignore VCR cassettes
/spec/fixtures/vcr_cassettes
