<%= content_tag_for(:article, rent) do %>
  <header></header>

  <ul>
    <li><%= rent.price %></li>
    <li><%= rent.beginning %></li>
    <li><%= rent.termination %></li>
  </ul>

  <footer></footer>
<% end %>
