<h1>Editing rent</h1>

<%= render 'form' %>

<% if @rent.deletable_by?(current_user) %>
  <%= link_to 'Destroy', parking_path(@parking), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', parking_path(@parking) %>
