<div class="row">
  <div class="col col-lg-6">
    <h1>You're almost done! </h1>
    <p>Now create a password to securely access your account.</p>
  </div>

  <div class="col col-lg-4">
    <%= render 'password_form' %>
  </div>
</div>
