<div class="row">
  <div class="col col-lg-6">
    <h1>Great, you're almost done!</h1>
    <p>Please enter your contact informations as well.</p>
  </div>

  <div class="col col-lg-6">
    <%= render 'form' %>
  </div>
</div><!-- /.row -->
