<h1>Listing orders</h1>

<%= render partial: 'order_listing', collection: @orders, as: :order %>

<hr>

<% if Order.creatable_by?(current_user) %>
  <%= link_to 'New Order', new_order_path %>
<% end %>
