<h1>New order</h1>

<h3>Parking</h3>

<% present @rent.parking do |parking| %>
  Location: <%= parking.location %> <br>
<% end %>

<% present @rent do |rent| %>
  <%= rent.title %>
<% end %>

<hr>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>
