<section>
  <%= render 'parkings/search_form' %>
</section>

<section>
  <% if @parkings.any? %>
    <%= render partial: 'parking_listing', collection: @parkings, as: :parking %>
    <%= will_paginate @parkings %>
  <% else %>
    <p>No results</p>
  <% end %>
</section>

<section>
  <%= link_to 'New Parking', new_parking_path %>
</section>
