<div class="row">
  <div class="col col-lg-2 col-lg-offset-10">
    <ul class="nav nav-pills">
      <li>
        <%= link_to 'New rental', new_parking_rent_path(@parking) %>
      </li>
      <li>
        <%= link_to 'Edit', edit_parking_path(@parking) %>
      </li>
    </ul>
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
  <div class="col col-lg-12">
    <%= render @parking %>
  </div><!-- /.col -->
</div><!-- /.row -->
