<div class="row">
  <div class="col col-lg-2 col-lg-offset-10">
    <ul class="nav nav-pills">
      <li>
        <% if @parking.updatable_by?(current_user) %>
          <%= link_to 'New rental', new_parking_rent_path(@parking) %>
        <% end %>
      </li>
      <li>
        <% if @parking.updatable_by?(current_user) %>
          <%= link_to 'Edit', edit_parking_path(@parking) %>
        <% end %>
      </li>
    </ul>
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
  <div class="col col-lg-12">
    <%= @parking.published? ? 'Published' : 'Unpublished' %>
  </div>
</div>

<div class="row">
  <div class="col col-lg-12">
    <%= render @parking %>
  </div><!-- /.col -->
</div><!-- /.row -->
